body{
    margin: 0;
}
.navbar{
    width: 100%;
    z-index: 1000;
    background-color: white;
    position: fixed;
    top: 0;
    overflow: hidden;
}
.container3 {
    margin: 0;
    height: 30px;
    display: flex;
    background-color: #e5e3e3;
    justify-content: space-between;
   }
   .container3 > ul{
       display: flex; 
   }
   .container3 > ul >li{
  
    margin-right: 20px;
    font-size: 12px;
   list-style: none;

   }
/* nav 2 */
.container > div {
    display: flex;
    justify-content: space-evenly;
   }
   .container > ul{
       display: flex;
       align-items: center;
       
   }
   .container > ul >li{
      margin-right: 17px;
      list-style: none;
     letter-spacing: 2px;
     
   }
   .container > ul >li :hover{
   
    color: red;
  }
   .container > ul >li > a > img{
       width: 170px;
   }
   #flag > img{
       width: 40px;
       height: 30px;
       border-radius: 50%;
   }
   .div_3{
       padding-left: 100px;
   }
   
   .button{
       position: absolute;
       background-color: #e5e3e3;
   
   }
   .input{
       position: relative;
       background-color: #e5e3e3;
       height: 40px;
       width: 270px;
       border: none;
       border-radius: 5px;
   }
   
   .fa.fa-heart-o{
        padding-left: 10px;
       font-size: 20px;
       color: black;
   }
   .fa.fa-shopping-cart{
       font-size: 20px;
       color: black;

   
   }

/* section 2 */

/* external css: flickity.css */


.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 40%;
  height: 500px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  color: white;
}

#sec_img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
 }
 #sec_img > div{
     width:10%;
 }
 #sec_img > div > img{
     width: 100%;
 }
 #sec_img > div > p{
     font-size: 15px;
     font-weight: bold;
     text-align: center;
 }

 #categories{
    margin-top: 20px;
    display: flex;
    justify-content: center;

 }
 #categories > div > img{
    margin-right: 50px;
     width: 160px;
 }


 

/* section 4 */
/* external css: flickity.css */

* { box-sizing: border-box; }


.carousel-cell1 {
  width: 185px;
  height: 270px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell1.is-selected {
  background: #ED2;
}

/* cell number */
.carousel-cell1:before {
  display: block;
  justify-content: space-evenly;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
/* .border > div{
    border: 2px solid black;
} */
.image{
    height: 60%;
 
}
.image img{
    width: 250px;
 
}
.detail{
    height: 20%;
    background-color: aliceblue;
}
.detail > p{
   font-size: 13px;
}

.line{
    text-decoration: line-through;
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
}
.price{
    font-size: 15px;
}
.fa.fa-inr{
    font-size: 15px;
}
.heart{
    margin-left: 100px;
}

.fa.fa-heart-o{
    color: black;
}



/* section 7 */
.logo{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 160px;
}

.footer_div{
    display: flex;
    justify-content: space-evenly;
}
.footer_div > div > ul > li{
    list-style: none;
    color: white;
    margin-top: 10px;

}
.footer_div > div > h1{
    color: yellow;
    font-size: 20px;

}

.footer_div2{
    display: flex;
    justify-content: space-around;
}
.footer_div2> div > ul > li{
    list-style: none;
    color: white;
    margin-top: 10px;
    

}
.footer_div2 > div > h1{
    color: yellow;
    font-size: 20px;

}



.pay_img >img{
    margin-left: 10px;
   width: 20px;
   height: 20px;
}
.pay_img >span>img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
 }

 .footer_div3{
    display:flex;
    justify-content: space-evenly;  
 }
 .footer_div3 > div > ul > li{
    list-style: none;
    color: white;
    margin-top: 10px;

}
.footer_div3 > div > h1{
    color: white;
    font-size: 20px;
}


.fa.fa-snapchat{
    margin-left: 20px;

}
.fa.fa-apple{
    margin-left: 20px;

}

.cart-counter{
    display:inline-block;
    width:30px;
    opacity:10;
    height:20px;
    background:#ddd;
    text-align:center;
    border-radius:50%;
    position: relative;
    bottom: 15px;
    
  }